USE [master]
GO
/****** Object:  Database [TourMate_Membership]    Script Date: 7/6/2025 3:48:17 PM ******/
CREATE DATABASE [TourMate_Membership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Membership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Membership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Membership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Membership_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Membership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Membership]
GO
/****** Object:  Table [dbo].[AccountMembership]    Script Date: 7/6/2025 3:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMembership](
	[accountMembershipId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[membershipPackageId] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[isActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPackage]    Script Date: 7/6/2025 3:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPackage](
	[membershipPackageId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [real] NOT NULL,
	[duration] [int] NOT NULL,
	[benefitDesc] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
